<div class="wrapper">
    <app-header></app-header>
    <app-left-side-column></app-left-side-column>
    <div class="content-wrapper">
       <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
    <app-control-sidebar></app-control-sidebar>
    <div class="control-sidebar-bg"></div>

</div>


<!-- <app-header></app-header>
<div class="container">
	<ng-content></ng-content>
</div>
<div class="container">

	
	<app-sensors  class="row"></app-sensors>	

</div>
<app-footer></app-footer> -->