<app-layout>
  <!-- <div class="jumbotron">
    <h1>layout wrapper</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div> -->

  <!-- <div class="wrapper">
    <app-header></app-header>
    <app-left-side-column></app-left-side-column>
    <div class="content-wrapper">
       <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
    <app-control-sidebar></app-control-sidebar>
    <div class="control-sidebar-bg"></div>

</div> -->

  
</app-layout>