<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<form action="" method="POST" role="form">
		<legend>Add sensor</legend>

		<div class="form-group">
			<label for="">Title</label>
			<input type="text" class="form-control" id="sensor_title" placeholder="sensor title">
			<div class="checkbox">
				<label>
					<input type="checkbox" value="">
					done
				</label>
			</div>
		</div>



		<button type="submit" class="btn btn-success">Add</button>
	</form>
</div> -->

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<ul *ngFor="let sensor of sensors_list" >
		<li (click)="get_sensor_details(sensor)" >{{sensor.device_id}}</li>
	</ul>
</div>
<button (click)="selected_sensor=null" class="btn btn-danger" > <i class="fa fa-times"></i> </button>
<br>
<app-sensor *ngIf="selected_sensor" ></app-sensor>
