<section class="content-header">
    <h1>
        Device
        <small> {{device_id}} </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Device</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="POST" role="form">
            
            	<div class="form-group">
            		<label for="">Device name</label>
            		<input type="text" class="form-control"  [(ngModel)]="hero.name"  >
            		
            	</div>
            
            </form>
        </div>
    </div>

</section>